<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<title> PSU Green Hotel </title>

<link rel="stylesheet" href="/psu-demo/css/bootstrap.min.css">
<link rel="stylesheet" href="/psu-demo/css/custom.css">
<script src="/psu-demo/js/bootstrap.bundle.min.js"></script>