<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<title> PSU Green Hotel </title>

<link rel="stylesheet" href="<%= rootpath %>css/bootstrap.min.css">
<link rel="stylesheet" href="<%= rootpath %>css/custom.css">
<link href='https://fonts.googleapis.com/css?family=Kanit&subset=thai,latin' rel='stylesheet' type='text/css'>
<script src="<%= rootpath %>js/bootstrap.bundle.min.js"></script>