<!DOCTYPE html>
<html>
    <head>
        <%- include(process.cwd() + '/views/partials/formhead'); %>
        
    </head>

    <body style="font-size: 1.25em;">
        <%- include(process.cwd() + '/views/partials/navbar'); %>
        <%- include(process.cwd() + '/views/partials/admin/sidebar', {name: username, profilepic: "https://github.com/mdo.png"}); %>

       
    </body>
</html>