<!DOCTYPE html>
<html>
    <head>
        <%- include('../partials/head'); %>
    </head>

    <body>
        <%- include('../partials/navbar'); %>
        <%- include('../partials/banner', {
            coaching: coaching,
            workshop: workshop,
            fieldtrip: fieldtrip,
            openning: openning,
            certificate: certificate,
            training: training,
            rootpath: rootpath
        }); %>
 
        <%- include('../partials/home', {
            coaching: coaching,
            workshop: workshop,
            fieldtrip: fieldtrip,
            openning: openning,
            certificate: certificate,
            training: training,
            rootpath: rootpath
        }); %>

    </body>
</html>