<p class="chapter-content">
    <h3><strong>น้ำ</strong></h3> 
    <p class="chapter-content">
        &emsp;น้ำเป็นปัจจัยที่สำคัญในการดำรงชีวิตและสิ่งมีชีวิตเป็นแหล่งกำเนิดของสัตว์น้ำและพืชหลากหลายชนิด นอกจากนั้นน้ำยังมีประโยชน์ในด้านเกษตรกรรม อุตสาหกรรม ครัวเรือน อุปโภคบริโภค ใช้ประกอบอาหาร หรือใช้ชำระล้างร่างกายและสิ่งสกปรกต่างๆ และน้ำยังทำให้เกิดความอุดมสมบูรณ์แก่สิ่งมีชีวิต คุณสมบัติของน้ำที่เป็นประโยชน์สำหรับมนุษย์และสิ่งมีชีวิตมากที่สุดก็คือ น้ำบริสุทธิ์ สะอาด ปราศจากเชื้อโรคและสารพิษเจือปน ปัจจุบันที่เกิดปัญหาด้านคุณภาพของน้ำ หรือเกิดมลพิษทางน้ำจนไม่สามารถนำน้ำจากแหล่งน้ำตามธรรมชาติมาใช้ได้ ซึ่งปัญหาเหล่านี้เกิดขึ้นได้จากหลายปัจจัย เช่น เกิดจากน้ำทิ้งและสิ่งปฏิกูลจากแหล่งชุมชน น้ำเสียจากโรงงานอุตสาหกรรม น้ำเสียที่เกิดจากธรรมชาติ เกิดจากพื้นที่ทำการเกษตร 
    </p>
    
</p>
<p class="chapter-content">
    <h3><strong>พลังงาน</strong></h3> 
    <p class="chapter-content">
        &emsp;พลังงานเป็นตัวขับเคลื่อนการพัฒนา การเติบโตทางเศรษฐกิจอัตโนมัติ การใช้พลังงานและความต้องการเพิ่มขึ้นทั่วโลก การปล่อยก๊าซเรือนกระจกเพิ่มขึ้น 2.2% ต่อปีระหว่างปี 2000 ถึง 2010 เทียบกับ 1.3% ต่อปีจากปี 1970 ถึง 2000  โลกไม่สามารถดูดซับ  CO<sub>2</sub> จำนวนมากในอัตราที่ผลิตโดยฟอสซิลเชื้อเพลิง ส่งผลให้ปริมาณ CO<sub>2</sub> เพิ่มขึ้นในสิ่งแวดล้อมได้เพิ่มภาวะโลกร้อนและการเปลี่ยนแปลงสภาพภูมิอากาศเพิ่มเติมทั่วโลก ภาวะโลกร้อนและการเปลี่ยนแปลงสภาพภูมิอากาศเป็นสิ่งที่ท้าทายทั่วโลกตามที่คณะกรรมการระหว่างรัฐบาลว่าด้วยการเปลี่ยนแปลงสภาพภูมิอากาศ (IPCC) รายงานภาวะโลกร้อนยังคงเพิ่มขึ้น การใช้พลังงานหมุนเวียนให้ประโยชน์ที่ลดลงการปล่อยมลพิษทางอากาศและก๊าซเรือนกระจก (GHG) ดังนั้น จำเป็นต้องมีแหล่งพลังงานทดแทนเพื่อให้มนุษย์สามารถอยู่รอดได้บนโลกโดยไม่ต้องพึ่งฟอสซิลเชื้อเพลิง 
    </p>
    
</p>		
<p class="chapter-content">
    <code>(Hosenuzzaman et al., 2015)</code>
</p>
