<p class="chapter-content">
    &emsp;โรงแรมที่เป็นมิตรต่อสิ่งแวดล้อมและอนุรักษ์พลังงานเป็นการร่วมกันดูแลและรักษาสิ่งแวดล้อมเพิ่มขึ้นอย่างต่อเนื่อง ในส่วนของประเทศไทย มีแนวคิดทางด้านการอนุรักษ์สิ่งแวดล้อมซึ่งเป็นส่วนหนึ่งที่เป็นของนโยบายระดับประเทศ เช่น หน่วยงานภาครัฐและภาคเอกชน องค์กรระหว่างประเทศ อุตสาหกรรมทุกด้าน รวมถึงอุตสาหกรรมการบริการและการท่องเที่ยวโดยเฉพาะในอุตสาหกรรมที่พักแรม นอกจากจะเป็นภาคอุตสาหกรรมการบริการใช้พลังงาน ส่งผลกระทบต่อสิ่งแวดล้อมในหลายด้านไม่ว่าเป็นการใช้ทรัพยากรต่างๆ การปล่อยของเสียและผลกระทบต่อสิ่งแวดล้อมในชุมชน <code>(Han, Hsu, & Sheu, 2010)</code>  มีการรับรองที่สามารถใช้เพื่อระบุว่าโรงแรม "เป็นมิตรกับสิ่งแวดล้อม" เช่น การรับรองอาคารสีเขียว ภาวะผู้นำด้านพลังงาน และการออกแบบสิ่งแวดล้อม จาก Green Earth Check, Green Hotels Global, Green Hotel, Green Leaf Standard (Thailand) มาตรฐานรับรองที่พัก คุณสมบัติตรงตามเกณฑ์ที่กำหนดตามแนวทางปฏิบัติ เช่น ประสิทธิภาพการใช้พลังงาน การประหยัดน้ำ การลดของเสีย และการพัฒนาสังคม ผู้มาใช้บริการจะให้ความสำคัญกับโรงแรมที่เป็นมิตรต่อสิ่งแวดล้อมมากกว่าโรงแรมทั่วไปหรือโรงแรมที่ไม่เป็นมิตรกับสิ่งแวดล้อม <code>(Verma, Chandra, & Kumar, 2019)</code> การใช้ทรัพยากรพลังงาน การสร้างมลภาวะทั้งขยะและน้ำเสียมีส่วนในการปล่อยก๊าซเรือนกระจกสู่ชั้นบรรยากาศ เป็นสาเหตุทำให้เกิดการเปลี่ยนแปลงสภาพภูมิอากาศและปรากฏการณ์ภาวะโลกร้อนที่กำลังกลายเป็นวิกฤติด้านสิ่งแวดล้อมที่สำคัญ <code>(บุตร, 2019)</code> จากการเติบโตและขยายตัวของธุรกิจโรงแรมที่เพิ่มขึ้น
</p>

<h3><strong>มาตรฐานโรงแรม</strong></h3>
<p class="chapter-content">
    &emsp;มาตรฐานโรงแรม  หมายถึง  สัญลักษณ์แทนคำมาตรฐานบริการระดับต่าง ๆ ของโรงแรมที่จะเลือกพักโรงแรมระดับใด ใช้สัญลักษณ์ดาวเป็นตัดสินเพื่อแบ่งแยกระดับกันอย่างชัดเจน <code>(Soelton, 2018)</code> ในปัจจุบันการทำธุรกิจต่าง ๆ การค้าขาย ธุรกิจการขนส่ง ธุรกิจการประกอบอาหาร มีการตั้งมาตรฐานเป็นตัวชี้วัด รวมไปถึงธุรกิจที่เกี่ยวกับโรงแรม ที่จะต้องมีมาตราฐานเป็นตัวชี้วัด ซึ่งมาตรฐานโรงแรมนั้นจะเป็นสิ่งที่จะบอกถึงคุณลักษณะ และคุณสมบัติของโรงแรมให้ผู้มาใช้บริการหรือบุคคลภายนอกได้รับรู้และมาตรฐานนั้นจะเป็นสิ่งที่ทำให้ผู้ใช้บริการได้เลือกใช้ตามความชอบตามความพอใจหรือตามงบประมาณที่มีอยู่ของผู้ใช้บริการ สำหรับปัจจัยที่นำมาใช้พิจารณาตัดสินมาตรฐานโรงแรมสภาพทางกายภาพ เช่น ทำเลที่ตั้ง สภาพแวดล้อม ชุมชนเป็นต้น การก่อสร้าง เช่น โครงสร้างกายภาพของโรงแรม ระบบในโรงแรม การเลือกใช้วัสดุ และระบบความปลอดภัยของโรงแรมสิ่งอำนวยความสะดวกสำหรับผู้เข้าพัก เช่น ของใช้ในโรงแรม มีคุณภาพ เหมาะสมกับโรงแรมคุณภาพการบริการ และการรักษาคุณภาพ เช่น บุคลิกภาพของพนักงาน การบริการ ความสะอาด ถูกหลักสุขอนามัยการดูแลบำรุงรักษาของโรงแรม <code>(Wong & Kim, 2020)</code>
</p>

    <h3><strong>มาตรฐานโรงแรมในประเทศไทย</strong></h3>
<p class="chapter-content">
    &emsp; ประเทศไทยมีหน่วยงานที่กำหนดเกณฑ์มาตรฐาน 3 หน่วยงาน คือ 
    <ol>
        <h4><strong><li>กรมส่งเสริมคุณภาพสิ่งแวดล้อม</strong></h4></li> กระทรวงทรัพยากรธรรมชาติและสิ่งแวดล้อม ได้มีการกำหนดเกณฑ์การบริการที่เป็นมิตรกับสิ่งแวดล้อม (Criteria of the Green Hotel) ของสถานประกอบการประเภทโรงแรมไว้ 6 ประเด็น ดังนี้ <br>
        <ul>
            <li>
                <h5><b>ประเด็นที่ 1 นโยบายด้านการบริการที่เป็นมิตรกับสิ่งแวดล้อม (Environmental Policy)</b></h5> 
                นโยบายด้านการบริการที่เป็นมิตรกับสิ่งแวดล้อม หมายถึง หลักการหรือวิธีปฏิบัติที่สถานประกอบการใช้เป็นแนวทางในการดำเนินงานด้านการบริการที่เป็นมิตรกับสิ่งแวดล้อม เช่น การจัดซื้อจัดจ้างที่เป็นมิตรกับสิ่งแวดล้อม การจัดการสิ่งแวดล้อม การอนุรักษ์พลังงาน การมีส่วนร่วมกับท้องถิ่นและชุมชน เป็นต้น โดยผู้บริหาร และพนักงานร่วมดำเนินการให้บรรลุวัตถุประสงค์และเป้าหมายที่กำหนดไว้
            </li>
            <li>
                <h5><b>ประเด็นที่ 2 การพัฒนาบุคลากร (Capacity Building)</b></h5>
               การพัฒนาบุคลากร หมายถึง วิธีการหรือกระบวนการ หรือกิจกรรมต่างๆที่ดำเนินการเพื่อเพิ่มพูนให้บุคลากรในสถานประกอบการ เกิดความรู้ ความสามารถและทักษะในการทำงานด้านการบริการที่เป็นมิตรกับสิ่งแวดล้อม เช่น การจัดซื้อจัดจ้างที่เป็นมิตรกับสิ่งแวดล้อม การจัดการสิ่งแวดล้อม การอนุรักษ์พลังงาน การมีส่วนร่วมกับท้องถิ่นและชุมชน เป็นต้น เพื่อเสริมสร้างเจตคติที่ดีในการปฏิบัติงานและให้มีการดำเนินงานบรรลุเป้าหมายที่วางไว้อย่างมีประสิทธิภาพ
            </li>
            <li>
                <h5><b>ประเด็นที่ 3 การรณรงค์ประชาสัมพันธ์ (Public Relations and Campaigns)</b></h5>
               การรณรงค์ประชาสัมพันธ์ หมายถึง การสื่อสารข้อมูล และข่าวสารด้านการบริการที่เป็นมิตรกับสิ่งแวดล้อม เช่น การจัดซื้อจัดจ้างที่เป็นมิตรกับสิ่งแวดล้อม การจัดการสิ่งแวดล้อม การอนุรักษ์พลังงาน การมีส่วนร่วมกับท้องถิ่นและชุมชน เป็นต้น ไปสู่กลุ่มเป้าหมาย (ผู้บริหาร พนักงาน และผู้ใช้บริการ) เพื่อเสริมสร้างความเข้าใจอันดี ความร่วมมือและสนับสนุนจากกลุ่มเป้าหมาย และเพื่อเสริมสร้างภาพลักษณ์ที่ดีของสถานประกอบการ
            </li>
            <li>
                <h5><b>ประเด็นที่ 4 การจัดซื้อจัดจ้างที่เป็นมิตรกับสิ่งแวดล้อม (Green Procurement)</b></h5>
               การจัดซื้อจัดจ้างที่เป็นมิตรกับสิ่งแวดล้อม หมายถึง การจัดซื้อจัดจ้างผลิตภัณฑ์หรือบริการ ซึ่งคำนึงถึงความเหมาะสมด้านคุณภาพ ราคา ระยะทาง การส่งมอบสินค้าหรือบริการตามที่กำหนด และการลดผลกระทบต่อสิ่งแวดล้อมที่เกิดจากการผลิตและบริการ โดยพิจารณาตลอดทั้งวัฏจักรชีวิตของผลิตภัณฑ์การจัดซื้อจัดจ้าง
            </li>
            <li>
                <h5><b>ประเด็นที่ 5 การจัดการสิ่งแวดล้อมและพลังงาน (Environmental Management and Energy Conservation)</b></h5>
               การจัดการสิ่งแวดล้อมและพลังงาน หมายถึง การดำเนินงานใดๆ ที่สามารถใช้ทรัพยากรได้แบบยั่งยืน หรือมีการกำจัดของเสียและมลพิษ หรือเสื่อมสภาพไป หรือไม่ส่งผลกระทบต่อสภาพแวดล้อมโดยรอบ เช่น การลดการใช้น้ำ การอนุรักษ์พลังงาน การจัดการพื้นที่สีเขียว การบำบัดน้ำเสีย การลดและกำจัดขยะ การป้องกันมลภาวะทางอากาศและเสียง อาชีวอนามัยและความปลอดภัย
            </li>
            <li>
                <h5><b>ประเด็นที่ 6 การมีส่วนร่วมกับท้องถิ่นและชุมชน (Participation with Local Community)</b></h5>
               การมีส่วนร่วมกับท้องถิ่นและชุมชน หมายถึง การมีส่วนร่วมของสถานประกอบการกับท้องถิ่นและชุมชนในพื้นที่ที่สถานประกอบการตั้งอยู่ ทั้งการร่วมรับรู้ ร่วมคิด ร่วมดำเนินการ ในกิจกรรมด้านการจัดการทรัพยากรธรรมชาติและสิ่งแวดล้อม เช่น การอนุรักษ์และฟื้นฟูทรัพยากรธรรมชาติ การรักษาสิ่งแวดล้อม และการสร้างคุณค่าด้านประวัติศาสตร์ ท้องถิ่น หรือศิลปวัฒนธรรม หรือเอกลักษณ์ของท้องถิ่น เป็นต้น 
            </li>
        </ul>
        <br>
        <div class="text-center">
            <figure class="figure">
                <img src="<%= rootpath+'img/chapters/ch2-1.png' %>" class="figure-img img-fluid rounded" alt="รูปภาพที่ 1 เกณฑ์การบริการที่เป็นมิตรกับสิ่งแวดล้อมของสถานประกอบการประเภทโรงแรม">
                <figcaption class="figure-caption" style="text-align:center">
                    <b>รูปภาพที่ 1</b> เกณฑ์การบริการที่เป็นมิตรกับสิ่งแวดล้อมของสถานประกอบการประเภทโรงแรม <br> 
                    <code>(ที่มา: กรมส่งเสริมคุณภาพสิ่งแวดล้อม,2565)</code>
                </figcaption>
            </figure>
        </div>
        <div class="text-center">
            <figure class="figure">
                <img src="<%= rootpath+'img/chapters/ch2-2.png' %>" class="figure-img img-fluid rounded" alt="รูปภาพที่ 2 ระดับการผ่านเกณฑ์การบริการที่เป็นมิตรกับสิ่งแวดล้อมประเภทโรงแรม">
                <figcaption class="figure-caption" style="text-align:center">
                    <b>รูปภาพที่ 2</b> ระดับการผ่านเกณฑ์การบริการที่เป็นมิตรกับสิ่งแวดล้อมประเภทโรงแรม <br> 
                    <code>(ที่มา: กรมส่งเสริมคุณภาพสิ่งแวดล้อม,2565)</code>
                </figcaption>
            </figure>
        </div>
        <br>นอกจากนี้ในประเทศไทยได้รับความนิยมในการร่วมกันดูแลและรักษาสิ่งแวดล้อมเพิ่มขึ้นอย่างต่อเนื่อง แนวความคิดทางด้านการอนุรักษ์สิ่งแวดล้อมนั้นถูกนำมาเป็นส่วนหนึ่งของนโยบายระดับประเทศทั้งหน่วยงานภาครัฐและเอกชน องค์กรระหว่างประเทศ อุตสาหกรรมทุกด้าน รวมถึงอุตสาหกรรมการบริการและการท่องเที่ยวโดยเฉพาะในอุตสาหกรรมที่พักแรมเป็นภาคอุตสาหกรรมการบริการหนึ่งที่ใช้พลังงานเป็นอย่างมาก ยังส่งผลกระทบต่อสิ่งแวดล้อมในหลายด้านไม่ว่าจะเป็นการใช้ทรัพยากรต่างๆ การปล่อยของเสียและผลกระทบต่อสิ่งแวดล้อมในชุมชน 
        <br>
        
        <h4><strong><li>มูลนิธิใบไม้เขียว (Green Leaf Foundation)</strong></h4></li>
        &emsp;ก่อตั้งในต้นปี 2541 ประกอบด้วยองค์กรที่มีวิสัยทัศน์ด้านการพัฒนาธุรกิจการท่องเที่ยวและการโรงแรม ประกอบด้วย การท่องเที่ยวแห่งประเทศไทย สมาคมโรงแรมไทย โครงการสิ่งแวดล้อมแห่งสหประชาชาติประจำภูมิภาคเอเชียแปซิฟิก สำนักงานการจัดการด้านการใช้ไฟฟ้า การไฟฟ้าฝ่ายผลิตแห่งประเทศไทย สมาคมพัฒนาคุณภาพสิ่งแวดล้อม และการประปานครหลวง โครงการที่มูลนิธิใบไม้เขียวดำเนินการเพื่อพัฒนาประสิทธิภาพการใช้พลังงานและพัฒนาคุณภาพสิ่งแวดล้อมของธุรกิจการท่องเที่ยวและการโรงแรม คือโครงการใบไม้เขียว ซึ่งอยู่ในความดูแลของคณะกรรมการส่งเสริมกิจกรรมสิ่งแวดล้อมเพื่อการท่องเที่ยว ได้จัดทำแบบประเมินการรักษาสิ่งแวดล้อมในการดำเนินงานของโรงแรมไว้ให้โรงแรมตรวจสอบการปฏิบัติงานของตน เพื่อให้คณะกรรมการ คสสท. ได้ตรวจสอบและประเมินผลเปรียบเทียบกับมาตรฐานที่คณะกรรมการได้จัดทำจากโรงแรมอ้างอิง มีการออกแนวคิดเกี่ยวกับโรงแรมสีเขียวหรือใบไม้เขียว (Green Leaf Hotel) โดยนำแนวคิดหลัก “รู้ ประหยัด รักษ์สิ่งแวดล้อม” โดยมีวัตถุประสงค์เพื่อ
        <ul>
            <li> วางมาตรฐานทางด้านการจัดการสิ่งแวดล้อม พัฒนาประสิทธิภาพในการใช้พลังงานและคุณภาพสิ่งแวดล้อมของธุรกิจท่องเที่ยวและธุรกิจที่พักแรม และได้จัดอันดับโรงแรมต่างๆ </li>
            <li>
                มอบเกียรติบัตรใบไม้สีเขียว (The Green Leaf Certificate) ตั้งแต่1-5 ใบ ตามลำดับ ความสามารถในการจัดการด้านสิ่งแวดล้อมในโรงแรม ความมุ่งมั่นของผู้ประกอบการและผู้มีส่วนสนับสนุนด้านการดำเนินธุรกิจโรงแรมที่ร่วมกันจัดการดำเนินธุรกิจเพื่อสิ่งแวดล้อมเป็นที่ประจักษ์แก่องค์กรต่างๆทั่วโลก
            </li>
        </ul>

        <h4><strong><li>มาตรฐานโรงแรมสีเขียวอาเซียน</strong></h4></li>
        &emsp;หมายถึง มาตรฐานของโรงแรมสีเขียวที่ประเทศในกลุ่มสมาชิกอาเซียนตกลงร่วมกันซึ่งมีเนื้อหาที่เชื่อมโยงถึงการบริหารจัดการทรัพยากรทางกายภาพเพื่อประโยชน์ด้านการบำรุงรักษาและปรับปรุงอาคาร การอบรมพนักงาน ประสิทธิภาพการให้บริการ ทั้งยังครอบคลุมถึงการส่งเสริมกิจกรรมการมีส่วนร่วมของพนักงาน นักท่องเที่ยวและประชาชนในชุมชนให้มีส่วนร่วมต่อการรักษาสิ่งแวดล้อม การสนับสนุนอาชีพและผลิตภัณฑ์ของชุมชน ส่งผลต่อการพัฒนาการท่องเที่ยวและชุมชนอย่างยั่งยืน สามารถตอบสนองความต้องการของลูกค้าตามแนวโน้มของตลาดได้ รวมถึงวิธีการขอรับการประเมินสู่มาตรฐานโรงแรมสีเขียว <code>(Astawa, Budarma, Sri Widhari, & Mudana, 2020)</code>
    </ol>

</p>