<p>
    &emsp;การจัดซื้อจัดจ้างที่เป็นมิตรกับสิ่งแวดล้อม <code>(Thaweecheep & Eagjariyakorn, 2021)</code> หมายถึง การจัดซื้อสินค้าที่เป็นมิตรกับสิ่งแวดล้อม หรือจัดจ้างบริการที่เป็นมิตรกับสิ่งแวดล้อม ตามรายการสินค้าและบริการที่ผ่านการพิจารณาเกณฑ์ ข้อกำหนดที่เป็นมิตรกับสิ่งแวดล้อมของกรมควบคุมมลพิษ (ตะกร้าเขียว) สินค้าที่ได้ฉลากเขียว (Green Label) บริการโรงแรมที่ได้รับเกียรติบัตรใบไม้เขียว (Green Leaf) บริการโรงแรมที่ผ่านเกณฑ์สถานประกอบการที่พักสีเขียว (Green Hotel) และผลิตภัณฑ์ผ้าที่เป็นมิตรกับสิ่งแวดล้อม (Cool Mode) เป็นต้น จากผลการสำรวจล่าสุด จํานวนผู้ที่ใส่ใจในสิ่งแวดล้อมมีเพิ่มมากขึ้นทั่วโลก โดยเฉพาะอย่างยิ่งในประเทศที่พัฒนา เช่น สหรัฐอเมริกา อังกฤษจํานวนผู้บริโภคที่ปรับเปลี่ยนพฤติกรรม ให้มีความรับผิดชอบต่อสิ่งแวดล้อมและนิยมบริโภคสินค้าสีเขียว (Green products) มีเพิ่มมากขึ้นอย่างต่อเนื่อง เช่นเดียวกับผู้บริโภคชาวออสเตรเลียที่ยินดีใช้จ่ายเงินเพิ่มขึ้นเพื่อซื้อสินค้าที่เป็นมิตรต่อสิ่งแวดล้อม
</p>
<p>
    &emsp;ฉลากสิ่งแวดล้อม (Shen, 2012) หมายถึง ฉลากที่แสดงความเป็นมิตรต่อสิ่งแวดล้อม ซึ่งมอบให้กับผลิตภัณฑ์หรือบริการที่มีคุณสมบัติตรงตามข้อกำหนด ปัจจุบันฉลากสิ่งแวดล้อมมีอยู่หลากหลาย ทั้งที่เป็นแบบผู้ผลิตเป็นผู้ออกฉลากเมื่อสินค้าถูกผลิต ออกแบบ และส่งมอบสู่ตลาด เพื่อหลีกเลี่ยงความเสียหายต่อสิ่งแวดล้อม เนื่องจากมีความจำเป็นต้องมีอิทธิพลต่อวิธีการผลิตสินค้า การเปลี่ยนแปลงพฤติกรรมผู้บริโภคจึงมีความสำคัญ และฉลากสิ่งแวดล้อมถือเป็นส่วนตอบสนอง และแบบที่ดำเนินการ โดยองค์กรกลางโดยฉลากในปัจจุบันสามารถแบ่งออกเป็น 3 ประเภท ดังนี้
    <ul>
        <li><b>ฉลากสิ่งแวดล้อมประเภทที่ 1</b></li> <br>
        เป็นฉลากสำหรับสินค้าหรือบริการที่ดำเนินการการโดยองค์กรกลางที่ไม่มีส่วนได้ส่วนเสีย (Third Party) มอบให้กับผลิตภัณฑ์ที่มีคุณสมบัติตรงตามข้อกำหนด ซึ่งการกำหนดเกณฑ์จะพิจารณาการลดผลกระทบต่อสิ่งแวดล้อมตลอดทั้งวัฏจักรชีวิตผลิตภัณฑ์ (Life Cycle Consideration)  ภายใต้กรอบดำเนินการตามอนุกรมมาตรฐาน ISO 14024

        <div class="text-center">
            <figure class="figure">
                <img src="<%= rootpath+'img/chapters/ch4-1.png' %>" class="figure-img img-fluid rounded" alt="รูปภาพที่ 1 ตัวอย่างฉลากสิ่งแวดล้อมประเภทที่ 1">
                <figcaption class="figure-caption" style="text-align:center">
                    <b>รูปภาพที่ 1</b> ตัวอย่างฉลากสิ่งแวดล้อมประเภทที่ 1 <br> 
                    <code>(ที่มา: มูลนิธิสถาบันสิ่งแวดล้อมไทย,2565)</code>
                </figcaption>
            </figure>
        </div>

        <li><b>ฉลากสิ่งแวดล้อมประเภทที่ 2</b></li> <br>
        เป็นฉลากที่ผู้ผลิต ผู้จัดจำหน่าย หรือ ผู้ส่งออกจะเป็นผู้บ่งบอกความเป็นมิตรต่อสิ่งแวดล้อม หรือแสดงค่าทางสิ่งแวดล้อมด้านในด้านหนึ่ง ของผลิตภัณฑ์ไม่ได้พิจารณาตลอดวัฏจักรชีวิตของผลิตภัณฑ์ และไม่มีกลไกการตรวจสอบโดยองค์กรกลาง แต่ทางผู้ผลิต จะต้องสามารถหาหลักฐานมาแสดงเมื่อสอบถาม ดังนั้น ฉลากประเภทนี้ผู้ผลิตสามารถทำการศึกษาหรือประเมินผลได้ด้วยตนเองโดยปฏิบัติตามมาตรฐาน ISO14021

        <div class="text-center">
            <figure class="figure">
                <img src="<%= rootpath+'img/chapters/ch4-2.png' %>" class="figure-img img-fluid rounded" alt="รูปภาพที่ 2 ตัวอย่างฉลากสิ่งแวดล้อมประเภทที่ 2">
                <figcaption class="figure-caption" style="text-align:center">
                    <b>รูปภาพที่ 2</b> ตัวอย่างฉลากสิ่งแวดล้อมประเภทที่ 2 <br> 
                    <code>(ที่มา: มูลนิธิสถาบันสิ่งแวดล้อมไทย,2565)</code>
                </figcaption>
            </figure>
        </div>

        <li><b>ฉลากสิ่งแวดล้อมประเภทที่ 3</b></li> <br>
        เป็นฉลากที่แสดงถึงผลกระทบของผลิตภัณฑ์ต่อสิ่งแวดล้อม โดยมีการแสดงข้อมูลสิ่งแวดล้อมโดยรวม (Environmental information) โดยการใช้เครื่องมือการประเมินผลกระทบตลอดวัฏจักรชีวิตของสิ่งแวดล้อม (Life Cycle Assessment) เข้ามาประเมิน ตามมาตรฐาน ISO 14040 โดยฉลากนี้ จะมีหน่วยงานอิสระ หรือองค์กรกลางในการทำหน้าที่ตรวจสอบความถูกต้องของข้อมูลก่อนที่จะประกาศลงกับผลิตภัณฑ์นั้นๆ ต่อไป

        <div class="text-center">
            <figure class="figure">
                <img src="<%= rootpath+'img/chapters/ch4-3.png' %>" class="figure-img img-fluid rounded" alt="รูปภาพที่ 3 ฉลากสิ่งแวดล้อมประเภทอื่น ๆ">
                <figcaption class="figure-caption" style="text-align:center">
                    <b>รูปภาพที่ 3</b> ฉลากสิ่งแวดล้อมประเภทอื่น ๆ <br> 
                    <code>(ที่มา: มูลนิธิสถาบันสิ่งแวดล้อมไทย,2565)</code>
                </figcaption>
            </figure>
        </div>
    </ul>
</p>

<p>
    <h3><strong>ฉลากคาร์บอนฟุตพริ้นท์ (Carbon Footprint Labels)</strong></h3>
    &emsp;Carbon Footprint หมายถึง ปริมาณก๊าซเรือนกระจกที่ปล่อยออกมาจากผลิตภัณฑ์แต่ละหน่วยตลอดวัฏจักรชีวิตของผลิตภัณฑ์ตั้งแต่ วัตถุดิบ การขนส่ง การประกอบชิ้นสวน การใช้งาน และการจัดการ ชื้นส่วนสิ่งเหลือหลังใช้งาน โดยคำนวณออกมาในรูปของคาร์บอนไดออกไซด์เทียบเท่า ซึ่งคิดออกมา เป็นเทียบเท่ากับศักยภาพที่ทำให้โลกร้อนเท่ากับปริมาณกี่เท่าของ CO<sub>2</sub> ยังมีก๊าซเรือนกระจก 6 ชนิดที่ประเมิน ภายใต้พิธีสารเกียวโต ได้แก่ คาร์บอนไดออกไซด์ (CO<sub>2</sub>), มีเทน(CH<sub>4</sub>), ไนตรัสออกไซด์ (N<sub>2</sub>O), ไฮโดรฟลูออโรคาร์บอน (HFCs), เพอร์ฟลูออโรคาร์บอน (PFCs), และซัลเฟอร์เฮกซะฟลูออไรด์ (SF<sub>6</sub>) <code>(หนู, 2020)</code>
</p>

<p>
    &emsp;สถาบันสิ่งแวดล้อมไทย (Thailand Environmental Institute) และองค์การบริหารจัดการก๊าซเรือน กระจก (Thailand Greenhouse gas Organization) ได้ร่วมกันจัดทำโครงการฉลากคาร์บอนขึ้นในเดือน สิงหาคม พ.ศ. 2551 ซึ่งในประเทศไทยแบ่งฉลากคาร์บอนออกเป็น 2 ประเภท คือ
    <br>
    <ul>
        <li><b>ฉลากแบบที่ 1</b></li>
             พิจารณาการประเมินการปล่อยก๊าซเรือนกระจกจากทั้งวงจรชีวิตของผลิตภัณฑ์ (Cradle to Grave) ตั้งแต่การได้มาซึ่งวัตถุดิบ การขนส่ง การผลิต การบรรจุหีบห่อ การใช้งาน จนกระทั่งการกำจัดของเสียที่เกิดขึ้น ซึ่งการดำเนินงานจะใช้เวลาค่อนข้างมากเนื่องจากมีกระบวนการประเมินซับซ้อน
        
        <li><b>ฉลากแบบที่ 2</b></li>
            พิจารณาการประเมินการปล่อยก๊าซเรือนกระจก โดยพิจารณาเฉพาะก๊าซเรือนกระจกที่เกิดขึ้นจากกระบวนการผลิต (Production stages) เท่านั้น (Gate to gate) ซึ่งวิธีนี้ใช้เวลาในการดำเนินงานน้อยกว่าแบบแรก ฉลากคาร์บอนแสดงข้อมูลให้ผู้บริโภคทราบว่า สินค้าหรือบริการนี้มีการปล่อย ก๊าซเรือนกระจกในระดับสูง ค่อนข้างสูง ปานกลาง ค่อนข้างต่ำหรือต่ำโดยแสดงผลเป็น 5 ระดับ ด้วย หมายเลข 1 - 5 สินค้าที่ได้ฉลากคาร์บอนเบอร์ 5 คือ สินค้าที่ปล่อยก๊าซเรือนกระจกสู่บรรยากาศน้อยที่สุดและ เป็นมิตรต่อสภาพภูมิอากาศ หรือหมายความว่าสินค้าหรือบริการนั้นมีความเป็นมิตรต่อสิ่งแวดล้อมและสามารถช่วยบรรเทาปัญหาภาวะโลกร้อนได้ ซึ่งระบบฉลากคาร์บอนนี้มีความคล้ายคลึงกับฉลากประหยัดไฟ เบอร์ 5 ของกระทรวงพลังงาน
        
        <div class="text-center">
            <figure class="figure">
                <img src="<%= rootpath+'img/chapters/ch4-4.png' %>" class="figure-img img-fluid rounded" alt="รูปภาพที่ 4 เครื่องหมายคาร์บอนฟุตพริ้นท์ของประเทศต่างๆ">
                <figcaption class="figure-caption" style="text-align:center">
                    <b>รูปภาพที่ 4</b> เครื่องหมายคาร์บอนฟุตพริ้นท์ของประเทศต่างๆ <br> 
                    <code>(ที่มา: มูลนิธิสถาบันสิ่งแวดล้อมไทย,2565)</code>
                </figcaption>
            </figure>
        </div>

        ปัจจุบันมีการใช้ Carbon Label ในบางประเทศ เช่น อังกฤษ และญี่ปุ่น โดยผลิตภัณฑ์ที่มีการติดฉลากนี้ ได้แก่ อาหาร เครื่องดื่มและสินค้าที่ใช้ในชีวิตประจำวัน ซึ่งสหราชอาณาจักรเป็นประเทศแรกที่ริเริ่ม แนวคิดการติดฉลากแสดงปริมาณการปล่อยก๊าซเรือนกระจกบนตัวผลิตภัณฑ์ มีหน่วยงานหลักที่ร่วม รับผิดชอบ คือ Department of the Environment, Food and Rural Affairs (DEFRA) และ The Carbon Trust ซึ่งเป็นองค์กรที่จัดตั้งโดยรัฐบาลสหราชอาณาจักร โดยในปี ค.ศ. 2007 ในภาคธุรกิจ บริษัท TESCO ซึ่งเป็นผู้นำตลาดค้าปลีกรายใหญ่ของประเทศได้เริ่มโครงการติดฉลากแสดงการปล่อยก๊าซเรือนกระจก บนผลิตภัณฑ์ภายใต้แบรนด์ TESCO กว่า 20 สินค้า จาก 4 ประเภทผลิตภัณฑ์ ประกอบด้วย น้ำส้ม มันฝรั่งอบกรอบ สารซักฟอกและหลอดไฟฟ้า
    </ul>
</p>
<p>
    <h4><strong>ฉลากเพื่อการอนุรักษ์สิ่งแวดล้อมของยุโรป (EU-Eco Label)</strong></h4>
    &emsp;ฉลาก EU-Eco Label หรือที่เรียกว่า EU - Flower ของสหภาพยุโรป เป็นตราสัญลักษณ์ฉลากสิ่งแวดล้อมของทุกประเทศในสหภาพยุโรปที่แสดงว่า สินค้ามีการผลิตและได้รับการรับรองว่ามีวงจรชีวิต (Life Cycle) ที่ใส่ใจต่อสิ่งแวดล้อม และลดผลกระทบต่อสิ่งแวดล้อมตั้งแต่การเลือก วัตถุดิบในการผลิต กระบวนการผลิตเป็นสินค้า และผลกระทบของคุณภาพสินค้าต่อผู้บริโภค เช่น การรักษา คุณภาพน้ำ อากาศ ดิน และเสียง รวมทั้งเรื่องการประหยัดพลังงาน โดยพิจารณาตั้งแต่จุดเริ่มต้นของการผลิต ทั้งในเรื่องวัตถุดิบ กระบวนการผลิต การบรรจุหีบห่อ การใช้งาน จนถึงขั้นตอนสุดท้ายซึ่งเป็นการกำจัดกากเหลือใช้หรือการนำกลับมาใช้ใหม่ EU Eco-label มีสัญลักษณ์เป็นรูปดอกไม้และมีรูปตัวอีคล้ายสัญลักษณ์ของเงินยูโรแทนเกสรดอกไม้ เริ่มใช้เป็นครั้งแรกในปี 2536 โดยมีสาระสำคัญพอสรุปได้ดังนี้   <br>
    <ul>
        <li><b>ขอบเขตของสินค้าและบริการ</b></li>
        <p>
            สินค้าและบริการที่ใช้ในชีวิตประจำวันทุกประเภทสามารถขอรับการ ติดฉลาก EU Eco-label ได้ ยกเว้นอาหาร เครื่องดื่ม และเภสัชภัณฑ์ โดยคณะกรรมาธิการยุโรป (European Commission) กำหนดกลุ่มสินค้าอุปโภคบริโภค (Consumer Goods) ที่สามารถขอติดฉลาก Eco-label ได้ จำนวน 15 กลุ่ม คือ กระดาษทิชชู เครื่องล้างจาน ดินและปุ๋ย ที่นอน สีทาบ้านและน้ำมันเคลือบเงา รองเท้า สิ่งทอ ผงซักฟอก น้ำยาล้างจาน กระดาษ หลอดไฟ ตู้เย็น เครื่องซักผ้า คอมพิวเตอร์แบบตั้งโต๊ะ และคอมพิวเตอร์แบบกระเป๋า นอกจากนี้ ยังมีสินค้าและบริการอื่นๆ ที่อยู่ระหว่างการพิจารณาคัดเลือกให้ติด EU Eco-label เพิ่มเติมอีกหลายรายการ เช่น เครื่องดูดฝุ่น บริการที่เกี่ยวเนื่องกับการท่องเที่ยว เป็นต้น ประเทศที่มีการใช้ฉลาก EU Eco-label คือ ประเทศสมาชิกเขตเศรษฐกิจยุโรป (European Economic Area: EEA) รวม 18 ประเทศ ประกอบด้วยสหภาพยุโรป (European Union: EU)จำนวน 15 ประเทศ รวมไปถึงไอซ์แลนด์ ลิกเตนสไตน์ และสวิตเซอร์แลนด์
        </p>
        <li><b>ฉลากสิ่งแวดล้อม (Blue Angel)</b></li>
        <p>
            วิวัฒนาการของฉลากสิ่งแวดล้อม เริ่มต้นจากประเทศในแถบยุโรปโดยมีประเทศเยอรมันเป็นประเทศแรก ที่มีการพัฒนาโครงการฉลากสิ่งแวดล้อม เริ่มตั้งแต่ปี พ.ศ. 2521 ใช้ฉลากที่ เรียกว่า นางฟ้าสีฟ้า (Blue Angel) ในการรณรงค์ปกป้องสิ่งแวดล้อมด้วยจุดมุ่งหมาย 3 ประการคือ ชี้แนะให้ ผู้บริโภคซื้อเฉพาะแต่สินค้าที่มีผลกระทบต่อสิ่งแวดล้อมน้อยที่สุด ส่งเสริมให้ผู้ผลิตพัฒนาสินค้าที่รักษาสิ่งแวดล้อมและรณรงค์ให้ฉลากนางฟ้าสีฟ้าเป็นสัญลักษณ์ในการส่งเสริมการจำหน่าย
        </p>
        <li><b>ฉลากอีโคมาร์ค</b></li>
        <p>
            โครงการฉลากสิ่งแวดล้อมในญี่ปุ่นได้เริ่มรณรงค์อีโค มาร์ค (Eco Mark) ในเดือนกุมภาพันธ์ พ.ศ. 2532 โดยมีวัตถุประสงค์เพื่อเป็นการให้ข้อมูลแก่ผู้บริโภค และสนับสนุนให้ผู้บริโภคเปลี่ยนแปลงพฤติกรรม โดยหันมาเลือกผลิตภัณฑ์ที่มีมาตรการในการรักษาสิ่งแวดล้อมที่ดีกว่า วัตถุประสงค์หลักของ Eco Mark นั้น ต้องการที่จะให้ข้อมูลแก่ผู้บริโภคว่า ผลิตภัณฑ์ดังกล่าวนี้เป็นมิตรกับสิ่งแวดล้อม (ตราสัญลักษณ์โครงการมีความหมายว่า Friendly to the Earth) ซึ่งเป็นการปกป้องโลก ด้วยสองมือของผู้บริโภค ความแตกต่างระหว่าง Eco Mark และ Blue Angle คือ Eco Mark ไม่ได้สร้าง มาตรฐานใหม่ เพื่อปกป้องผู้บริโภคในแง่ของการพัฒนาคุณภาพของผลิตภัณฑ์หรือด้านความปลอดภัย ซึ่งจะแตกต่างจาก Blue Angel ผลิตภัณฑ์ที่ติดฉลาก Eco Mark นั้น สามารถจำหน่ายได้ภายในประเทศญี่ปุ่นเท่านั้น อีกทั้งบริษัทต่างชาติที่จำหน่ายสินค้าในญี่ปุ่นก็สามารถขอใช้ฉลาก Eco Mark ได้
        </p>

        <div class="text-center">
            <table class="table table-bordered">
                <caption style="text-align:center">
                    ตารางที่ 1 การเลือกซื้อสินค้าและบริการที่เป็นมิตรกับสิ่งแวดล้อม <br>
                    <code>(ที่มา: กรมส่งเสริมคุณภาพสิ่งแวดล้อม,2565)</code>
                </caption>
                <tr>
                    <td>การเลือกซื้อสินค้า</td>
                    <td>บริการที่เป็นมิตรกับสิ่งแวดล้อม</td>
                </tr>
                <tr>
                    <td>สินค้า</td>
                    <td>เลือกสินค้าที่ได้รับฉลากเขียวหรือสินค้าที่เป็นไปตามข้อกำหนด</td>
                </tr>
                <tr>
                    <td>บริการโรงแรม</td>
                    <td>เลือกใช้บริการโรงแรมที่ได้รับประกาศนียบัตรรับรองการเข้าร่วมโครงการใบไม้เขียวหรือโรงแรมที่ได้รับการรับรอง</td>
                </tr>
                <tr>
                    <td>บริการอื่นๆ</td>
                    <td>ให้เลือกตามเกณฑ์ข้อกำหนดสินค้าและบริการที่เป็นมิตรกับสิ่งแวดล้อม</td>
                </tr>
                <tr>
                    <td>หากไม่มีสินค้าฉลากเขียว</td>
                    <td>ให้เลือกสินค้าที่ผลิตจากสถานประกอบการที่ได้รับการรับรองอุตสาหกรรมสีเขียวตั้งแต่ระดับ 4 ขึ้นไป</td>
                </tr>
            </table>
        </div>
    </ul>
</p>

<p>
    <h3><strong>ประโยชน์ที่ผู้มีส่วนได้ส่วนเสียได้รับ</strong></h3>
    <ul>
        <li><b>ประโยชน์ต่อผู้บริโภค</b></li>
        ผู้บริโภคจะได้ใช้สินค้าที่ช่วยรักษาสิ่งแวดล้อมตั้งแต่กระบวนการผลิต ลดการใช้ทรัพยากรที่สิ้นเปลือง และสารที่เป็นพิษต่อมนุษย์และสิ่งแวดล้อม ทำให้มีผลต่อสุขภาพและสิ่งแวดล้อมโดยรวม รวมทั้งช่วยปลูกฝังค่านิยมให้สังคมร่วมกันอนุรักษ์สิ่งแวดล้อมไปด้วย <code>(ศูนย์ปฏิบัติการวิเคราะห์มลพิษและสิ่งแวดล้อม กรมควบคุมมลพิษ,2565)</code>
        <li><b>ประโยชน์ต่อผู้ผลิต</b></li> 
        เมื่อสินค้าและบริการที่เป็นมิตรต่อสิ่งแวดล้อมได้รับความนิยมมากขึ้น ก็จะส่งผลให้ปริมาณการจำหน่ายสูงขึ้นด้วย อีกทั้งในกระบวนการผลิตยังเน้นให้ผู้ผลิตใช้ทรัพยากรและเทคโนโลยีอย่างคุ้มค่าปลอดภัยต่อมนุษย์และสิ่งแวดล้อมมากขึ้น ซึ่งจะส่งผลตอบแทนทางเศรษฐกิจในระยะยาว ทั้งในการประหยัดต้นทุนการผลิตและเป็นการสร้างภาพลักษณ์ที่ดีต่อผลิตภัณฑ์ <code>(ศูนย์ปฏิบัติการวิเคราะห์มลพิษและสิ่งแวดล้อม กรมควบคุมมลพิษ,2565)</code>
        <li><b>ประโยชน์ต่อสิ่งแวดล้อม</b></li> 
        เมื่อผู้ผลิตและผู้บริโภคต่างร่วมมือร่วมใจกันผลิตและบริโภคสินค้าและบริการที่เป็นมิตรต่อสิ่งแวดล้อมมากขึ้นแล้ว ก็จะส่งผลดีต่อสิ่งแวดล้อมโดยรวม คือ ช่วยลดผลกระทบต่าง ๆ ในการผลิตที่อาจเกิดอันตรายต่อมนุษย์และสิ่งแวดล้อมทั้งทางตรงและทางอ้อม รวมทั้งช่วยลดการปล่อยมลพิษที่เป็นสาเหตุให้เกิดภาวะโลกร้อน <code>(ศูนย์ปฏิบัติการวิเคราะห์มลพิษและสิ่งแวดล้อม กรมควบคุมมลพิษ,2565)</code>
    </ul>
</p>